<!DOCTYPE html>
<html>
<head>
    <title>Bank Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-page">

    <div class="login-box">

        <h1>Bank Management System</h1>

        <p style="text-align:center;">
            Admin Login
        </p>

        <form method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
            >

            <br><br>

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>